{# out.csv.j2   The tempate of the Gephi CSV import file. #}
Id;Label;Source;Target;group;capacity_available;capacity_max;capacity_ratio
{% for course in courses %}
    {% if course.prerequisites %}
        {% for link in course.prerequisites.simple %}
            {% if course.capacity_max %}
{{ course.code }}*{{ course.number }};{{ course.code }}*{{ course.number }};{{ course.code }}*{{ course.number }};{{ link }};{{ course.group }};{{ course.capacity_available }};{{ course.capacity_max }};{{ course.capacity_available / course.capacity_max }}
            {% else %}
{{ course.code }}*{{ course.number }};{{ course.code }}*{{ course.number }};{{ course.code }}*{{ course.number }};{{ link }};{{ course.group }};;;{{ -1 }}
            {% endif %}
        {% endfor %}
        {% for complex_link in course.prerequisites.complex %}
            {% if course.capacity_max %}
{{ course.code }}*{{ course.number }};{{ course.code }}*{{ course.number }};{{ complex_link | trim }};{{ course.code }}*{{ course.number }};{{ course.group }};{{ course.capacity_available }};{{ course.capacity_max }};{{ course.capacity_available / course.capacity_max }}
            {% else %}
{{ course.code }}*{{ course.number }};{{ course.code }}*{{ course.number }};{{ complex_link | trim }};{{ course.code }}*{{ course.number }};{{ course.group }};;;{{ -1 }}
            {% endif %}
        {% endfor %}
    {% else %}
        {% if course.capacity_max %}
{{ course.code }}*{{ course.number }};{{ course.code }}*{{ course.number }};;;{{ course.group }};{{ course.capacity_available }};{{ course.capacity_max }};{{ course.capacity_available / course.capacity_max }}
        {% else %}
{{ course.code }}*{{ course.number }};{{ course.code }}*{{ course.number }};;;{{ course.group }};;;{{ -1 }}
        {% endif %}
    {% endif %}
{% endfor %}